body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;


}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.text{
   max-width: 50%;
   background-color: aqua;
   border-radius: 10px;
}
#slideshow{
   max-width: 50%;

}
#slideshow img {
            width: 100%;
            border-radius: 30px;
        }


.hero {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 2.5rem;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.features {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature h2 {
    font-size: 1.5rem;
}

.cta {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.cta h2 {
    font-size: 2rem;
}

.cta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #3498db;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img{
  height: 60px;
  border-radius: 30px;
}
